$primarycolor:#4458dc;
$primarycolor2:#854fee;
$titlecolor:#141313;
$textcolor:#777;
$bordercolor:#201f1f17;
$gradientcolor:linear-gradient(90deg,#4458dc,#854fee);
$shadowcolor: 0 10px 30px rgba(118,85,225,0.3);
$boxshadow: 0 10px 30px rgba(57,56,61,0.205);